.UI-ui {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  pointer-events: none;
  background: hsl(178, 30%, 14%);
  transition-property: background;
  transition-duration: 500ms;
}

.UI-title {
  color: rgba(0, 0, 0, 0.75);
}

.UI-paper {
  pointer-events: all;
  padding: 1em;
  width: 100%;
  background: rgb(51, 218, 87);
  border: 5px solid rgb(30, 146, 26);
  border-radius: 20px;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.UI-bar {
  pointer-events: all;
  width: 100%;
  height: 2em;
  background: rgba(0, 0, 0, 0.35);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0.5em;
}

.UI-view {
  padding: 1em;
  flex-grow: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.UI-ready {
  background: none;
}
