.EngineDetails-root {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  width: 100%;
}

.EngineDetails-title {
  text-align: center;
}

.EngineDetails-line {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}

.EngineDetails-online {
  color: green;
}

.EngineDetails-offline {
  color: red;
}

.EngineDetails-icon {
  margin-right: 0.5em;
}

.EngineDetails-buttons {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.EngineDetails-button {
  margin: 1em 0;
}

.EngineDetails-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
