.EngineList-root {
  display: flex;
  flex-direction: column;
}

.EngineList-title {
  text-align: center;
}

.EngineList-claim {
  display: flex;
  flex-direction: column;
  position: relative;
}

.EngineList-claimInput {
  display: flex;
  align-items: flex-end;
}

.EngineList-claimButton {
  padding-bottom: 1em;
}

.EngineList-loader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
