.Login-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Login-title {
  font-size: 3em;
  text-align: center;
}

.Login-errorContainer {
  height: 1.5em;
}

.Login-error {
  color: hsl(24, 80%, 57%);
  line-height: 1.5em;
  text-align: center;
  margin: 0;
  animation: Login-errorAnimation 300ms ease-in;
}

@keyframes Login-errorAnimation {
  0% {
    opacity: 0;
    transform: translate(0, -1em);
  }
  100% {
    opacity: 1;
  }
}

.Login-form {
  position: relative;
}

.Login-loader {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.Login-buttons {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.Login-button {
  flex-basis: 50%;
  padding: 1em 0.5em;
}

.Login-button:last-child {
  padding-left: 0;
}

.Login-button:first-child {
  padding-right: 0;
}
