.MainMenu-root {
  flex-grow: 1;
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.MainMenu-title {
  text-align: center;
}

.MainMenu-settings {
  flex-grow: 1;
  width: 100%;
}

.MainMenu-generate {
  padding: 1em;
  display: flex;
  justify-content: center;
}

.MainMenu-start {
  padding: 2em;
  display: flex;
  justify-content: center;
  width: 100%;
}
