@import '../../theme.scss';

$dark: 10%;
$light: 15%;
$desaturate: 50%;

.Button-button {
  display: flex;
  outline: none;
  user-select: none;
}

.Button-content {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  color: rgba(255, 255, 255, 0.85);
  border-style: solid;
  border-radius: 20px;
  transition-duration: $animationTime;
  text-overflow: clip;
  overflow: hidden;
  white-space: nowrap;
  flex-grow: 1;
}

.Button-wide {
  width: 100%;
}

.Button-small {
  font-size: 0.75em;
  padding: 0.25em 0.5em;
  border-width: 3px;
}

.Button-normal {
  font-size: 1em;
  padding: 0.375em 0.625em;
  border-width: 4px;
}

.Button-large {
  font-size: 1.25em;
  padding: 0.5em 0.75em;
  border-width: 5px;
}

@mixin color($color) {
  $color-dark: darken($color, $dark);
  $color-light: lighten($color, $light);

  background: $color;
  border-color: $color-dark;
  :hover > & {
    border-color: $color-light;
  }
  :active > & {
    border-color: $color;
    background-color: $color-dark;
  }
  :focus > & {
    box-shadow: inset 0 0 30px 0 hsla(0, 100%, 100%, 0.75);
    border-color: $color-light;
  }

  &.Button-disabled {
    background: desaturate($color, $amount: $desaturate);
    border-color: desaturate($color-dark, $amount: $desaturate);
  }
}

.Button-primary {
  @include color($primary);
}

.Button-secondary {
  @include color($secondary);
}

.Button-danger {
  @include color($danger);
}
