@import '../../theme.scss';

.Dialog-root {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 1em;
}

.Dialog-opening {
  animation: $animationTime ease-in Dialog-animateIn;
  opacity: 1;
}

.Dialog-closing {
  animation: $animationTime ease-out Dialog-animateOut;
  opacity: 0;
}

@keyframes Dialog-animateIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes Dialog-animateOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
