.GameDetails-root {
  display: flex;
}

.GameDetails-line {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}

.GameDetails-list {
  display: flex;
  flex-direction: column;
}

.GameDetails-button {
  margin: 1em 0;
}

.GameDetails-name {
  text-align: center;
}
