.Button-button {
  background: hsl(194, 66%, 50%);
  text-transform: uppercase;
  color: rgb(255, 255, 255, 0.75);
  border-style: solid;
  border-color: hsl(194, 66%, 35%);
  border-radius: 20px;
  outline: none;
  transition-duration: 100ms;
}

.Button-wide {
  width: 100%;
}

.Button-small {
  font-size: 0.75em;
  padding: 0.25em 0.5em;
  border-width: 3px;
}

.Button-normal {
  font-size: 1.25em;
  padding: 0.5em 0.75em;
  border-width: 5px;
}

.Button-large {
  font-size: 1.5em;
  padding: 0.75em 1em;
  border-width: 7px;
}

.Button-button:hover {
  background: hsl(194, 66%, 65%);
  border-color: hsl(194, 66%, 45%);
}

.Button-button:active {
  background: hsl(194, 66%, 50%);
  border-color: hsl(194, 66%, 25%);
}

.Button-button:disabled {
  background: hsl(194, 5%, 50%);
  border-color: hsl(194, 5%, 35%);
}
