.Error-root {
  height: 1.5em;
}

.Error-text {
  color: hsl(24, 80%, 57%);
  line-height: 1.5em;
  text-align: center;
  margin: 0;
  animation: Error-animation 300ms ease-in;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@keyframes Error-animation {
  0% {
    opacity: 0;
    transform: translate(0, -1em);
  }
  100% {
    opacity: 1;
  }
}
