.EngineDetails-line {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}

.EngineDetails-online {
  color: green;
}

.EngineDetails-offline {
  color: red;
}

.EngineDetails-icon {
  margin-right: 0.5em;
}

.EngineDetails-button {
  margin: 1em 0;
}

.EngineDetails-gameControls {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0.5em;
}

.EngineDetails-gameControl {
  margin-left: 0.5em;
}

.EngineDetails-gameName {
  max-width: 150px;
  text-overflow: ellipsis;
  overflow: hidden;
}
