.EngineDetails-line {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
}

.EngineDetails-online {
  color: green;
}

.EngineDetails-offline {
  color: red;
}

.EngineDetails-icon {
  margin-right: 0.5em;
}

.EngineDetails-button {
  margin: 1em 0;
}
