.EngineList-claim {
  display: flex;
  flex-direction: column;
  position: relative;
}

.EngineList-claimInput {
  display: flex;
  align-items: flex-end;
}

.EngineList-claimButton {
  padding-bottom: 1em;
}
